# Ignore files generated automatically by terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars

# logs
*.log

# Directories
.terraform/
.vagrant/
app/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Ignored vscode files
.vscode/

# Generated keys
airflow
airflow.pub
rstudio
rstudio.pub

kibana-7.7.1-darwin-x86_64.tar.gz
kibana-7.7.1-darwin-x86_64/
metricbeat-7.7.1-darwin-x86_64.tar.gz
metricbeat-7.7.1-darwin-x86_64/
metricbeat-7.7.1-darwin-x86_64 8.23.53 PM/